{% extends "admin/adminbase.html" %}
{% load static %}
{% block title %}| Enquiry Dashboard{% endblock title %}
{% block css %}{% static "admin_dashboard.css" %}{% endblock css %}

{% block body %}
    <div class="admin-container">
        <h1>ENQUIRIES : </h1>
        <table>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Phone number</th>
                <th>Email id</th>
                <th>Std.</th>
                <th>Status</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>1.</td>
                    <td>{{item.student_name}}</td>
                    <td>{{item.phone_number}}</td>
                    <td>{{item.email_id}}</td>
                    <td>{{item.class_for}}</td>
                    <td>
                        <button>
                            <a href="enquiry_info/{{item.id}}">Check</a></button>
                            <button type="submit"><a href="{% url 'Enquiry' item.id %}">Delete</a></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endblock body %}
