<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
        input{
            background-color: red;
            width: 150px;
            border: none;
            box-shadow: 1px 2px 10px 2px black;
            color: white;
            font-size: 24px;
            padding: 10px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif
        }
        input:hover{
            scale: 1.1;
            opacity: 80%;
        }
    </style>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        <img src="{{data.activity.url}}" alt="" style="height: 200px; width: 200px; border-radius: 50%;">
        <h1>Are you sure you wanna delete this Image?</h1>
        <input type="submit" value="Delete !!">
    </form>
</body>

</html>