{% extends "admin/adminbase.html" %}
{% load static %}
{% block title %}| Add Events{% endblock title %}
{% block css %}{% static "eventsdata.css" %}{% endblock css %}

{% block body %}
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Enter Event Details</h1>
            <br>
            <input type="text" placeholder="Enter event name*" name="event_name" required>
            <br><br>
            <input type="text" placeholder="Enter event description*" name="event_desc" required>
            <br><br>
            <input type="date" name="event_date" required>
            <br><br>
            <input type="file" name="event_img" required>
            <br><br>
            <input type="submit" value="SUBMIT" id="btn">
        </form>
        <div class="info">
            <form action="" method="GET">
                <table>
                    <tr>
                        <th>S.no</th>
                        <th>Event name</th>
                        <th>Description</th>
                        <th>Event Date</th>
                        <th>Delete</th>
                    </tr>
                    {% for items in data %}
                    <tr>
                        <td>{{ forloop.counter }}.</td>
                        <td>{{items.event}}</td>
                        <td>{{items.event_desc|slice:":10"}}..</td>
                        <td>{{items.date}} {{items.month}}</td>
                        <td><button><a href="{% url 'deleteEvent' items.id %}">Delete</a></button></td>
                    </tr>

                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
{% endblock body %}