<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTS DATA</title>
    <style>
        body{
            padding: 3%;
        }
        .container form{
            width: 100%;
        }
        .container form input{
            border: none;
            border-radius: 10px;
            padding: 8px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            width: 100%;
            border-bottom: 1px solid gray;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Enter Event Details</h1>
            <br>
            <input type="text" placeholder="Enter event name*" name="event_name" required>
            <br><br>
            <input type="text" placeholder="Enter event description*" name="event_desc" required>
            <br><br>
            <input type="date" name="event_date" required>
            <br><br>
            <input type="file" name="event_img" required>
            <br><br>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
</body>
</html>