{% extends "admin/adminbase.html" %}
{% load static %}
{% block title %}| Add Images{% endblock title %}
{% block css %}{% static "addschoolgallery.css" %}{% endblock css %}

{% block body %}
    <div class="container">
        <form action="" method="POST">
        <div class="card-1">
            <div class="left">
                <img src="{% static 'main.png' %}" alt="">
                <h1>INAUGRATION</h1>
                <p>Aryabhatta Public school <b>Inaugration</b> images, Add files of <b>Inaugration</b></p>
                <a href="{% url 'addInaugration' %}">ADD MORE</a>
            </div>
            <div class="right">
                <img src="{% static 'main.png' %}" alt="">
                <h1>ASSEMBLY</h1>
                <p>Aryabhatta Public school <b>Assesmbly</b> images, Add files of <b>Assesmbly</b></p>
                <a href="{% url 'addAssembly' %}">ADD MORE</a>
            </div>
        </div>
        <div class="card-1">
            <div class="left">
                <img src="{% static 'main.png' %}" alt="">
                <h1>FUNCTION</h1>
                <p>Aryabhatta Public school <b>Functions</b> images, Add files of <b>Functions</b></p>
                <a href="{% url 'addFunction' %}">ADD MORE</a>
            </div>
            <div class="right">
                <img src="{% static 'main.png' %}" alt="">
                <h1>PT</h1>
                <p>Aryabhatta Public school <b>PT</b> images, Add files of <b>PT</b></p>
                <a href="{% url 'addPt' %}">ADD MORE</a>
            </div>
        </div>
    </form>
    </div>

    {% endblock body %}