.admin-container {
    padding: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Ensure items wrap onto new lines */
  }
  
  .card {
    width: 250px;
    transition: 0.3s ease-in-out;
    margin: 10px; /* Add margin to create space between cards */
  }
  
  .card:hover {
    transform: scale(1.1); /* Corrected property name to 'transform' for scaling */
  }
  
  .card img {
    width: 240px;
    height: 200px;
    border-radius: 10px;
  }
  .card a{
    text-decoration: none;
  }
  .card h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
  }
  
  @media screen and (max-width: 650px) {
    .admin-container {
      display: block; /* Change display to block for stacking vertically */
      text-align: center; /* Center align content horizontally */
    }
  
    .card {
      width: 80%; /* Adjust width to fit the viewport */
      max-width: 300px; /* Limit maximum width of cards */
      margin: 20px auto; /* Center align cards horizontally */
      border-bottom: 3px solid black;
    }
  
    .card img {
      width: 150px; /* Ensure image fills the card width */
      height: 150px; /* Maintain aspect ratio */
      border-radius: 10px;
    }
  }
  