.page-content {
  margin: 15px;
}
#head {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#regis {
  font-family: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.page-title p b {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.page-title ul li {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: circle;
}
.row ul {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-top: 2px solid red;
  padding: 5px;
  margin-bottom: 20px;
}
ul li a {
  text-decoration: none;
  color: black;
}
.tab-content {
  background-color: white;
}
.caption {
  background-color: #437db3;
  padding: 8px;
  color: white;
}
.caption i {
  font-size: 14px;
  margin-right: 5px;
}
.form-group {
  display: flex;
  margin: 15px;
}
.form-group label {
  width: 200px;
}
.form-group select {
  width: 510px;
  background-color: white;
  padding: 5px;
  border: 1px solid rgb(202, 199, 199);
  margin-left: 20px;
}
.form-group div input {
  width: 500px;
  background-color: white;
  padding: 5px;
  border: 1px solid rgb(202, 199, 199);
  margin-left: 20px;
}
.select p {
  margin: auto;
  margin-left: 20px;
  font-size: 10px;
  font-weight: lighter;
}
#last {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

/* Father's Part */
.tab-pane {
  background-color: white;
  box-shadow: 1px 1px 10px 1px gray;
  margin-bottom: 20px;
}

/* Submission pasrt */
.portlet-body {
  padding: 10px;
}
/* last */
.l-button {
  background-color: #cb5a5e;
  width: 100px;
  padding: 8px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5%;
}
.l-button:hover{
  box-shadow: 1px 1px 10px 1px rgb(97, 93, 93);
  scale: 1.08;
}
