{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block css %}static/about.css{% endblock css %}
    <title>{% block title %}| ABOUT{% endblock title %}</title>
  </head>
  {% block body %}
  <div class="container">
    <h2 style="background-color: rgb(11, 80, 145); color: white; border: none">
      About Us
    </h2>
    <div class="panel-body">
      <div>
        <div id="ContentPanel" class="c1">
          <p style="text-align: justify">
            <span style="font-size: 12px"
              ><span style="color: #b22222"
                ><span style="font-size: 14px"
                  ><strong>Our Antecedents</strong></span
                ></span
              ><br />
              Aryabhatta Public School, Shamshabad, Agra - schools
              are run by the Dayanand Anglo Vedic Society on the principles of
              ‘Dispelling Ignorance and Promoting Knowledge’ propounded by Arya
              Samaj.</span
            >
          </p>

          <p style="text-align: justify">
            <span style="font-size: 12px"
              >Aryabhatta Public School, Shamshabad, Agra, since its provenience
              in 2023, has been diligently pursuing the path of education of
              three H’s – Head, Heart and Hand. The school assimilates Modern
              education of ‘Tech Shapers’ with the Vedic injunction of ‘Manur
              Bhav’.</span
            >
          </p>
          <br /><br />
          <p style="text-align: justify">
            <span style="font-size: 12px"
              ><span style="color: #b22222"
                ><span style="font-size: 14px"
                  ><strong>Our Present</strong></span
                ></span
              ><br />
              With more than 5,00 students on roll from class Nursery to X.The school endeavours to inspire the students
              to be vigorous learners, vibrant thinkers and vivacious members of
              the globalized world of </span
            ><span style="font-size: 12px">21st</span
            ><span style="font-size: 12px">
              century. </span
            ><span style="font-size: 12px">..</span>
          </p>
          <br /><br />
          <p style="text-align: justify">
            <span style="font-size: 12px"
              ><strong
                ><span style="font-size: 14px"
                  ><span style="color: #b22222">Our Infrastructure</span></span
                ></strong
              ><br />
              The school proudly possesses state–of–the–art infrastructure
              inclusive of Smart Classrooms, spacious Libraries for different
              wings, extensively established Computer Labs for the budding</span
            ><span style="font-size: 12px">techno – savvy</span
            ><span style="font-size: 12px">
              generations, fully – equipped Science labs, </span
            ><span style="font-size: 12px">hi – tech</span
            ><span style="font-size: 12px">
              Conference Halls and vast and recreational play grounds producing
              National Level Sportspersons.</span
            >
          </p>
          <br /><br />
          <p style="text-align: justify">
            <span style="font-size: 12px"
              ><span style="color: #b22222"
                ><span style="font-size: 14px"
                  ><strong>Our Results</strong></span
                ></span
              ><br />
              Every year students possessing sterling qualities of head and
              heart move out and pursue concrete career trajectories.</span
            >
          </p>
      
          <br /><br />
          <p style="text-align: justify">
            <span style="font-size: 12px"
              ><span style="color: #b22222"
                ><span style="font-size: 14px"
                  ><strong>Our Activities</strong></span
                ></span
              ><br />
              Focussing on the holistic development of the child, the school
              provides extensive opportunities to the students through</span
            ><span style="font-size: 12px">inter–house</span
            ><span style="font-size: 12px">
              competitions, class–shows, trips &amp; excursions, workshops and
              seminars. Through these rigorous and stimulating programmes,
              together with special support strategies, the school aims to raise
              the literary skills of the students to the required levels so that
              they grow into compassionate and dynamic global citizens.</span
            >
          </p>
        </div>
      </div>
    </div>
    <br /><br />
    <h2 style="background-color: rgb(11, 80, 145); color: white; border: none">
      President's Message
    </h2>

    <div id="ContentPanel" class="c2">
      <p style="text-align: justify">
        <span style="font-size: 12px"
          ><img
            alt=""
            src="{% static 'president.jpeg' %}"
            style="
              float: left;
              height: 230px;
              margin-left: 4px;
              margin-right: 40px;
              width: 177px;
              margin-bottom: 1px;
            "
          /><strong>A dream comes true - </strong></span
        >
      </p>

      <p style="text-align: justify">
        <span style="font-size: 12px"
          >A dream of social commitment and responsibility. I look forward for
          the great development of technology and the ways by which the younger
          generation obtains it.<br />
          I will be delighted to see my endeavors - Indian Era Sr. Secondary
          School-enhances in moulding the future citizens with modern education,
          without losing the true love towards the nation and its culture.<br />
          Our goal is to equip children to think innovatively and to be creative
          throughout their life. The future generation should be well aware of
          the values, traditions and culture of our great nation. We encourage
          them to have an nternational outlook with the modern perspectives of
          education and the changes in the world around us. Aryabhatta Public
          School is extending the message of social commitment with the
          cooperation of the learned citizens. <br /><br /><br><br>
      </p>

      <p style="text-align: ">
        <span style="color: #b22222"
          ><span style="font-size: 14px"><strong>Mr.</strong></span></span
        >
        <span style="color: #b22222"
          ><span style="font-size: 14px">
            <strong
              >Hari Prakash Sharma<br />
              President</strong
            ></span
          ></span
        >
      </p>
    </div>
    <br /><br />
    <h2 style="background-color: rgb(11, 80, 145); color: white; border: none">
      Principal's Message
    </h2>
    <div id="ContentPanel" class="c2">
      <p style="text-align: justify">
        <span style="font-size: 12px"
          ><img
            alt=""
            src="{% static 'sir.jpg' %}"
            style="
              float: left;
              height: 230px;
              margin-left: 4px;
              margin-right: 40px;
              width: 177px;
              margin-bottom: 1px;
            "
          /><strong
            >"Life always begins with one step outside of our comfort zone." -
            Shannon L. Alder.
          </strong></span
        >
      </p>

      <p style="text-align: justify">
        <span style="font-size: 12px"
          >Life is a perennial journey of excellence, infused with learning
          experiences. Every experience empowers the learner to be even more
          enriched with confidence. To thrive in the modern world, a child needs
          to be equipped with divergent thinking, creative ideas and inspired
          learning. We need to create a symphony in the hearts of our young
          students by instilling discipline in them.<br />
          <br />
          Along with academic competencies, we must inculcate in them the moral
          values of integrity, loyalty, honesty, compassion and co-operation. To
          prepare the children to keep pace with the fast-changing world, the
          teachers and parents have to join hands and put in valiant efforts.<br />
          <br />
          The children expect the parents to be their role models and spend some
          quality time with them. The need for the hour is for parents to keep
          themselves updated and keep their children cyber secure (the major
          requirement of the hi-tech world). If we value the self-esteem of our
          children and ask for their co-operation in each and every field, they
          will feel confident and will be geared up to face the world with an
          open mind, to </span
        ><span style="font-size: 12px">materialized</span
        ><span style="font-size: 12px">
          their dreams and stand victorious in the odyssey of life.</span
        >
      </p>

      <p style="text-align: ">
        <span style="color: #b22222"
          ><span style="font-size: 14px"><strong>Mr.</strong></span></span
        ><span style="color: #b22222"
          ><span style="font-size: 14px">
            <strong
              >Ravi Kant Pachauri<br />
              Principal</strong
            ></span
          ></span
        >
      </p>
    </div>
  </div>

  {% endblock body %}
</html>
