{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'admission2.css' %}">
    <title>ARYABHATT EDU | ADMISSION-FORM</title>
  </head>
  <body>
  <div class="page-content">
    <br />

    <p align="center" id="head">
      <img
        src="{% static 'logo.jpg'%}"
        alt="logo"
        class="logo-default"
        height="150"
        width="150"
      />

      <br />

      <br />

      <b>Kher Nawada, Gadi Jahan Singh Road, Shamshabad, Agra-283125</b>

      <br />

      <b>Phone No: 7017217471, 9027279413 </b>

      <br />

      <b>Email Id: aryabhattapublicedu@gmail.com</b>

      <br />
    </p>
    <h2 align="center"><b id='regis'>REGISTRATION FORM (Session {{next_year}}-{{over_year}})</b></h2>

    <p></p>

    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- /.modal -->

    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- BEGIN PAGE HEADER-->

    <!-- BEGIN PAGE HEAD -->

    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->

      <div class="page-title">
        <p>
          <b
            >Parents are requested to note:
          </b>
        </p>
        <ul>
          <li>
            <b
              >This is not an Admission Form. Submission of this form does not
              guarantee admission to School.</b
            >
          </li>

          <li>
            <b
              >This form is non-transferable. Registration Fee is INR 150/- for
              Classes Balvatika(Foundational Stage) to IX, INR
              1000/- for Stages IX to XII . The registration fee is non refundable .</b
            >
          </li>

          <!-- <li><b><a>Kindly view the school fee structure by clicking on the link</a> or visiting the 

					school website before submitting the application</b></li>
 -->
          <li>
            <b
              >Kindly view the school fee structure by clicking on the link (<a
                href="pdf/FEE STRUCTURE CBSE 2024-25.pdf"
                target="_blank"
                style="color: blue; text-decoration: underline"
                >Fee Structure for the session 2024-25</a
              >)
              or visiting the school website before submitting the
              application.</b
            >
          </li>

          <li>
            <b
              >Supervision facility whereby the Parent(s)/guardian picks &amp;
              drops the child to school is available only if the residence is
              within 0.5 Km radius of the school.</b
            >
          </li>

          <li><b>Please fill the details in BLOCK LETTERS</b></li>
        </ul>

        <small></small>
        <p></p>
      </div>

      <!-- END PAGE TITLE -->

      <!-- BEGIN PAGE TOOLBAR -->

      <!-- END PAGE TOOLBAR -->
    </div>

    <!-- END PAGE HEAD -->

    <!-- END PAGE HEADER-->

    <!-- BEGIN PAGE CONTENT-->

    <div class="row">
      <div class="col-md-12">
        <div
          class="tabbable tabbable-custom tabbable-noborder tabbable-reversed"
        >
          <form
            method="POST"
            name="frmStudentReg"
            id="frmStudentReg"
            action="reg_submit"
            class="form-horizontal"
            enctype="multipart/form-data"
          >
            <div class="tab-content">
              <div class="tab-pane active" id="tab_0">
                <div class="portlet box green">
                  <div class="portlet-title">
                    <div class="caption">
                      <i class="fa fa-gift"></i>Details
                    </div>

                    {% csrf_token %}
                    <div class="form-body">
                      <h3 class="form-section"></h3>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3">
                              Student Name*</label
                            >

                            <div class="col-md-9">
                              <input required
                                type="text"
                                class="form-control"
                                name="txtFieldValue_0"
                                id="txtFieldValue_0"
                                onchange="ValidateSingleInput(this);"
                                placeholder="Candidate First Name"
                                onkeyup="upperCaseF(this)"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3">
                              Father's Name</label
                            >

                            <div class="col-md-9">
                              <input required
                                type="text"
                                class="form-control"
                                name="txtFieldValue_1"
                                id="txtFieldValue_1"
                                onchange="ValidateSingleInput(this);"
                                placeholder="Candidate Father Name"
                                onkeyup="upperCaseF(this)"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3">
                              Mother's Name</label
                            >

                            <div class="col-md-9">

                              <input required
                                type="text"
                                class="form-control"
                                name="txtFieldValue_2"
                                id="txtFieldValue_2"
                                onchange="ValidateSingleInput(this);"
                                placeholder="Candidate Mother Name"
                                onkeyup="upperCaseF(this)"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3"> DOB*</label>

                            <div class="col-md-9">

                                <input required
                                  type="date"
                                  name="txtFieldValue_3"
                                  id="txtFieldValue_3"
                                  class="form-control"
                                />

                        
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3">
                              Phone number*</label
                            >

                            <div class="col-md-9">

                              <input required
                                type="number"
                                class="form-control"
                                name="txtFieldValue_4"
                                id="txtFieldValue_4"
                                onchange="ValidateSingleInput(this);"
                                placeholder="Phone Number*"
                                onkeyup="upperCaseF(this)"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3">
                              Email Id*</label
                            >

                            <div class="col-md-9">

                              <input required
                                type="Email"
                                class="form-control"
                                name="txtFieldValue_5"
                                id="txtFieldValue_5"
                                onchange="ValidateSingleInput(this);"
                                placeholder="Email Id*"
                                onclick="javascript:CalculateAgeInQC();"
                                onkeyup="upperCaseF(this)"
                                readonly="true"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3">
                              Gender*</label
                            >

                            <div class="col-md-9">

                              <select
                                name="txtFieldValue_6"
                                id="txtFieldValue_6"
                                class="form-control"
                              >
                                <option value="">Select One</option>

                                <option value="F">Female</option>

                                <option value="M">Male</option>
                              </select>
                            </div>
                          </div>
                        </div>


                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3">
                              Class Applied For*</label
                            >

                            <div class="col-md-9">
                              <select
                                name="txtFieldValue_7"
                                id="txtFieldValue_7"
                                class="form-control"
                              >
                                <option value="">Select One</option>

                                <option value="Balvatika">Balvatika</option>

                                <option value="Nursery">Nursery</option>

                                <option value="Prep">Prep</option>

                                <option value="1">I</option>

                                <option value="2">II</option>

                                <option value="3">III</option>

                                <option value="4">IV</option>

                                <option value="5">V</option>

                                <option value="6">VI</option>

                                <option value="7">VII</option>

                                <option value="8">VIII</option>

                                <option value="9">IX</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3">
                              Last School Attended</label
                            >

                            <div class="col-md-9">
                      
                              <input required
                                type="text"
                                class="form-control"
                                name="txtFieldValue_8"
                                id="txtFieldValue_8"
                                onchange="ValidateSingleInput(this);"
                                placeholder="School where candidate last studied"
                                onkeyup="upperCaseF(this)"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3">
                              Residential Address*</label
                            >

                            <div class="col-md-9">

                              <input required
                                type="text"
                                class="form-control"
                                name="txtFieldValue_9"
                                id="txtFieldValue_9"
                                onchange="ValidateSingleInput(this);"
                                placeholder="Local residence address for which residence proof can be provided"
                                onkeyup="upperCaseF(this)"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label col-md-3">
                              Transport Required*</label
                            >

                            <div class="col-md-9">
                         
                            <div class="select">
                            
                              <select
                                name="txtFieldValue_10"
                                id="txtFieldValue_10"
                                class="form-control"
                              >
                                <option value="">Select One</option>

                                <option value="Yes">Yes</option>

                                <option value="No">No</option>
                               
                              </select>
                              <br>
                              <p>
                               (Supervision facility is available only if the
                              residence is within 0.5 km radius of the school)</p>
                              <br><br>
                            </div>
                            </div>
                          </div>
                        </div>
        
                      </div>
                    </div>

                    <!-- END FORM-->
                  </div>
                </div>
              </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab_note">
                <div class="portlet box green">
                  <div class="portlet-title">
                    <div class="caption">
                      <i class="fa fa-gift"></i>Declaration
                    </div>
                  </div>

                  <div class="portlet-body form">
                    <div class="form-body">
                      <p><font face="Cambria" size="3"> </font></p>
                      <ul>
                        <font face="Cambria" size="3">
                          <li>
                            I understand that the registration fee&nbsp; as
                            applicable&nbsp; is towards the processing fee for
                            the admission process. It is non-refundable and
                            registration does not guarantee admission.
                          </li>

                          <li>
                            I understand that rendering false / incorrect or
                            misleading information at the time of admission or
                            discovery of the same at any later stage shall
                            disqualify the applicant for admission to this
                            school and also that an incomplete form will be
                            rejected without assigning any reason.
                          </li>

                          <li>
                            I have carefully read the rules, regulations and
                            procedures laid down by the school and being
                            desirous of having my child / ward educated in Delhi
                            Public School, Faridabad ,I hereby agree to abide by
                            them in all respects. I understand that the decision
                            of the management of the School shall be final and
                            binding on me for which I will not file any
                            objection / case in any court of law anywhere in
                            India.
                          </li>

                          <li>
                            I hereby certify that my ward and I shall follow all
                            the rules, regulations enforced from time to
                            time&nbsp; by the school management . We further
                            undertake that in&nbsp; order to maintain the
                            sanctity of the teacher taught relationship, we
                            shall not indulge in any form of unwarranted
                            protests.
                          </li>

                          <li>
                            Submission of this form is a confirmation of the
                            above declarations.
                          </li>
                        </font>
                      </ul>
                      <font face="Cambria" size="3">
                        &nbsp;
                        Date : {{date}}
                      </font>
                      <p></p>

                      <div class="form-actions">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <input required
                                type="hidden"
                                name="totalrec"
                                id="totalrec"
                                value="86"
                              />

                              <div class="col-md-offset-12 col-md-12">
                                <button
                                  type="submit"
                                  onclick="ValidateSubmit();"
                                  class="btn red l-button"
                                >
                                </b>
                                  I AGREE
                                <b>
                                </button>

                                <!--<button type="button" class="btn default">

																		Cancel</button>-->
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6"></div>
                        </div>
                      </div>
                    </div>
                    <!-- BEGIN FORM-->

                    <!-- END FORM-->
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- END PAGE CONTENT-->
  </div>
  
  </body>
</html>
